<?xml version="1.0" encoding="utf-8"?>
<!-- status="off",log4j2把自身事件记录到控制台的配置，off表示不记录，其余的记录有trace，debug，info，warn，error，fatal -->
<!-- monitorInterval表示检测更改配置的时间,单位是秒,最小间隔为5秒,0或负数表示不检测 -->
<Configuration status="WARN" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${env:APP_LOG_HOME}</property>
        <property name="FILE_NAME">spring-mvc</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Console output only level And above level of information （onMatch）， Other direct rejection （onMismatch）-->
            <!--<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!-- This is known as the output log format -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1} - %msg%n"/>
        </Console>

        <!-- Add filter ThresholdFilter, You can selectively output classes at or above a certain level  onMatch="ACCEPT" onMismatch="DENY" Matches are accepted , Otherwise, direct rejection -->
        <File name="ERROR" fileName="${LOG_HOME}/${FILE_NAME}-error.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>

        <!-- This will print all the information ， Each size exceeds size， Is this size The size of the log is automatically saved by year - Set up folders below month and compress them ， As archive -->
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/${FILE_NAME}.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyyMMdd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="200"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- print mybatis sql -->
        <!--<logger name="com.mengka.springboot" level="DEBUG" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
            <!--<AppenderRef ref="RollingFile"/>-->
            <!--<appender-ref ref="ERROR" />-->
        <!--</logger>-->

        <!--<Logger name="org.mybatis" level="DEBUG">-->
            <!--<AppenderRef ref="Console"/>-->
            <!--<AppenderRef ref="RollingFile"/>-->
        <!--</Logger>-->

        <!--<Logger name="java.sql" level="DEBUG">-->
            <!--<AppenderRef ref="Console"/>-->
            <!--<AppenderRef ref="RollingFile"/>-->
        <!--</Logger>-->


        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
            <appender-ref ref="ERROR" />
        </Root>
    </Loggers>
</Configuration>